button {
    width: 25px;
}

.operator {
    background-color: rgb(198, 128, 216);
}

.off {
    background-color: rgb(238, 135, 135);
}

.equal {
    background-color: rgb(80, 156, 255);
}

.clear {
    background-color: rgb(245, 193, 82);
}

.expression {
    margin-top: 25px;
}